
// FONTS

$main-h1-font-size: 40px;
$main-h2-font-size: 34px;
$main-h3-font-size: 30px;
$main-h4-font-size: 26px;
$main-p-font-size: 18px;
$main-button-font-size: 14px;


// BORDERS

$border-light: 5px;
$border-medium: 10px;
$border-deep: 15px;


// SHADOWS

$shadow-light: 0 1px 3px rgba(0, 0, 0, 0.1);
$shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.15);
$shadow-deep: 0 10px 20px rgba(0, 0, 0, 0.25);


// PADDING

$padding-light: 2px;
$padding-medium: 5px;
$padding-deep: 10px;
$padding-deeper: 20px;


//MARGIN

$margin-light: 2px;
$margin-medium: 5px;
$margin-deep: 10px;
$margin-deeper: 20px;




