@use './variables' as variables;  


// DISPLAY

@mixin flex ($direction, $align-items, $justify, $wrap) {
    display: flex;
    flex-direction: $direction;
    align-items: $align-items;
    justify-content: $justify;
    flex-wrap: $wrap;
}


// ROUNDED BORDERS

@mixin border($px, $type, $color, $radius) {
  border: #{$px} #{$type} #{$color}; 
  border-radius: #{$radius};
}

// BOX SHADOWS

@mixin shadow-light {
    box-shadow: variables.$shadow-light;
}

@mixin shadow-medium {
    box-shadow: variables.$shadow-medium;
}

@mixin shadow-deep {
    box-shadow: variables.$shadow-deep;
}


// 