@use './variables' as variables;  


// DISPLAY

@mixin flex ($direction, $align-items, $justify, $wrap) {
    display: flex;
    flex-direction: $direction;
    align-items: $align-items;
    justify-content: $justify;
    flex-wrap: $wrap;
}


// ROUNDED BORDERS

@mixin border($px: 1px, $type: solid, $color: black, $radius: null) {
  @if $px != null and $type != null and $color != null {
    border: #{$px} #{$type} #{$color};
  }
  @if $radius != null {
    border-radius: #{$radius};
  }
}


// BOX SHADOWS

@mixin shadow($level: light) {
  @if $level == light {
    box-shadow: variables.$shadow-light;
  } @else if $level == medium {
    box-shadow: variables.$shadow-medium;
  } @else if $level == deep {
    box-shadow: variables.$shadow-deep;
  }
}


// 