
// FONTS

$main-h1-font-size: 60px;
$main-h2-font-size: 34px;
$main-h3-font-size: 30px;
$main-h4-font-size: 26px;
$main-p-font-size: 14px;
$main-button-font-size: 14px;
$main-a-font-size: 18px;


// SHADOWS

$shadow-light: 0 0 20px 5px rgba(0, 0, 0, 0.5);
$shadow-medium: 0 0 20px 10px rgba(0, 0, 0, 0.5);
$shadow-deep: 0 0 20px 15px rgba(0, 0, 0, 0.5);


// PADDING

$padding-light: 2px;
$padding-medium: 5px;
$padding-deep: 10px;
$padding-deeper: 20px;


//MARGIN

$margin-light: 2px;
$margin-medium: 5px;
$margin-deep: 10px;
$margin-deeper: 20px;


// COLORS 

$my-text-color: #f4f4f4;
$my-green: #4caf50;
$my-orange: #ff9700;
$my-blue: #0e6cff;
$my-purple: #640fc5;
